<!-- Main Header -->
<header class="main-header">
	<!-- Logo -->
	<app-logo></app-logo>
	<!-- Header Navbar -->
	<nav class="navbar navbar-static-top" role="navigation">
		<!-- Sidebar toggle button-->
		<a class="sidebar-toggle" data-toggle="push-menu" role="button">
			 <span class="sr-only">Toggle navigation</span>
			<i class="fas fa-bars"></i>
		</a>
		<!-- Navbar Right Menu -->
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav" >
        <!-- Notifications Menu -->
        <li class="dropdown notifications-menu notificationsBox" *ngIf="display_notifications"></li>
        <!-- User Account Menu -->
				<li class="dropdown user user-menu userBox"></li>
				<!-- Control Sidebar Toggle Button -->
				<!-- <li><a href="#" data-toggle="control-sidebar"
					class="toggle-sidebar-right"><i class="fa fa-gears"></i></a></li> -->
			</ul>
		</div>
	</nav>
</header>
