<!-- Menu toggle button -->
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	<i class="fa fa-bell"></i>
	<span class="label label-warning" *ngIf="notifLength > 0">{{notifLength}}</span>
</a>
<ul class="dropdown-menu">
	<li>
		<!-- Inner Menu: contains the notifications -->
		<ul class="menu">
			<li *ngFor="let notif of notifications; let i = index">
        <a> <i class="{{ notif.class }}"> </i> {{ notif.content }} </a>
			</li>
			<!-- end notification -->
		</ul>
	</li>
</ul>
