<section class="content-header" *ngIf="display">
  <h1>
    {{ header }}
    <small>{{ description }}</small>
  </h1>
  <ol class="breadcrumb">
    <ng-container *ngFor="let item of levels">
      <li [class.active]="item.active">
        <a [routerLink]="item.link">
          <i *ngIf="item.icon !=null" class="{{item.icon}}"></i> {{ item.title }}
        </a>
      </li>
    </ng-container>
  </ol>
</section>
