<!-- Logo -->
<a href="#" routerLink="/" class="logo" style="background: #0054a3;"> <!-- mini logo for sidebar mini 50x50 pixels -->
	<span class="logo-mini"><b><img src="{{logo.small.bold}}" class="img-responsive"></b>{{logo.small.normal}}</span> <!-- logo for regular state and mobile devices -->
	<span class="logo-lg"><b><img src="{{logo.big.bold}}" class="img-responsive" width="150px"></b>{{logo.big.normal}}</span>
</a>
