<!-- Menu Toggle Button -->
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  <!-- The user image in the navbar-->
  <img [src]="currentUser.avatarUrl" class="user-image" [alt]="currentUser.getName()">
  <!-- hidden-xs hides the username on small devices so only the image appears. -->
  <span class="hidden-xs">{{currentUser.getName()}}</span>
</a>
<ul class="dropdown-menu" style="width:300px;">
  <!-- The user image in the menu -->
  <li class="user-header">
    <img [src]="currentUser.avatarUrl" class="img-circle" [alt]="currentUser.getName()">
    <p>
      {{currentUser.getName()}}
      <!-- <small>Member since {{currentUser.creation_date}}</small> -->
    </p>
  </li>
  <!-- Menu Footer-->
  <!-- <li class="user-body">
    <div class="col-xs-4 text-center">
      <a href="#">Se</a>
    </div>
    <div class="col-xs-4 text-center">
      <a href="#">Sales</a>
    </div>
    <div class="col-xs-4 text-center">
      <a href="#">Friends</a>
    </div>
  </li> -->
  <li class="user-footer">
    <div class="pull-left">
      <a (click)="updatePassword()" class="btn btn-default btn-flat">Cambiar Contraseña</a>
      </div>
    <div class="pull-right">
      <a (click)="logout()" class="btn btn-default btn-flat">Cerrar Sesión</a>
    </div>
  </li>
</ul>
