<body class="hold-transition login-page">
  <div class="login-box" >
    <div class="login-box-body">
      <router-outlet></router-outlet>
    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->
</body>
